@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@theme {
    --color-brand-green-dark: #09332C;
    --color-brand-green: #2E4B3C;
    --color-brand-orange: #F0531C;
    --color-brand-orange-light: #FFA74F;
    --color-brand-beige: #F7DFBA;
    --color-background: #F7EDDA;
    --color-border-color: #D9D9D9;

    --font-heading: "Bricolage Grotesque", sans-serif;
    --font-body: "DM Sans", sans-serif;

    --text-900: 100px;
    --text-800: 90px;
    --text-600: 70px;
    --text-500: 60px;
    --text-300: 36px;
    --text-200: 16px;
}

@layer base {
    body {
        font-family: var(--font-body);
        font-size: var(--text-200);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
        font-weight: bold;
    }

    h1 {
        font-size: var(--text-900);
    }

    h2 {
        font-size: var(--text-800);
    }

    h3 {
        font-size: var(--text-600);
    }

    h4 {
        font-size: var(--text-500);
    }

    h5 {
        font-size: var(--text-300);
    }
}