{% load static %}
{% load tailwind_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Habisin{% endblock %}</title>
    <link rel="icon" href="/static/svg/favicon.svg" type="image/svg+xml"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://googleapis.com" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    {% tailwind_css %}
    {% block meta %} {% endblock meta %}
  </head>
  <body class="bg-background">
    {% include 'components/navbar.html' %}

    {% block content %} {% endblock content %}

    {% include 'components/footer.html' %}
  </body>
</html>